
* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	position: relative;
	min-height: 100vh;
}

.container {
	width: 100%;
	margin: 0px auto;
}

/* header styling */
.navbar {
	background: #222;
	padding: 0 15px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.headerLinks {
	text-decoration: none;
	color: white;

}

li {

	list-style-type: none;
	padding: 20px 20px 20px 20px;
	display: block;
}

.logo_div {
	font-size: 20px;
	padding: 7.5px 10px 7.5px 0px;
}

li a:hover {
	color: #ccc;
}

/*footer styling*/
.footer {
	color: white;
	background-color: #73707D;
	width: 100%;
	margin: 20px auto 0px;
	padding: 20px 0px;
	position: absolute;
	bottom: 0;
	text-align: center;
  }


  /* login & register form*/
  .container-form{
	display:flex;
	align-items: center;
	flex-direction: column;
	margin:20px auto;
	/*min-height: 100vh;*/
	
	width:400px;
	padding: 12px 20px;
	border: 2px solid #ccc;
	 border-radius: 4px;
	  background-color: #f8f8f8;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	#login{
	  min-height: 75vh;
	
	}
	
	.formData{
	
	margin: 2px;
	
	}
	
	.registerLink{
		color:darkblue;
	}
	
	.formValidator{
		background-color:#fff;
		margin:25px auto;
		padding:50px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
		width:400px;
		border-radius: 5px;
		}
		.formValidator h1{
margin-bottom: 15px;

		}
		.formControl{
		
		margin-bottom: 10px;
		padding-bottom:20px;
		position: relative;
		
		}
		
		.formControl label{
		 
		  color: #777;
		  display:block;
		  font-size: 20px;
		  margin-bottom:5px;
		}
		
		.formControl input{
			width: 100%;
			border: 1px solid #f0f0f0;
			border-radius: 4px;
			display:block;
			padding:10px;
			font-size:14px;
			margin-bottom:15px;
		  }
		  .formControl input:focus{
		
			outline:0;
			border-color:#777;
		  }
		
	
	input[type=submit] {
		width: 100%;
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	  }
	  
	  input[type=submit]:hover {
		background-color: #45a049;
	  }
	  
	.error{
	background:#F2DEDE;
	color:#A94442;
	padding:10px;
	width:95%;
	border-radius: 5px;
	margin:20px auto;
	}
	
	.success{
	  background:#F2DEDE;
	  color:#38af5c;
	  padding:10px;
	  width:95%;
	  border-radius: 5px;
	  margin:20px auto;
	  }
	
	.edit-btn{
	padding: 4px 12px 4px 12px;	
	background:grey;
	
	}
	
	.delete-btn{
	padding: 4px;
	background:red;
	
	}
	/*dropdown menu for logout*/
	.dropdown {
	  position: relative;
	  display: inline-block;
	}
	
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  padding: 12px 16px;
	  z-index: 1;
	}
	
	.dropdown:hover .dropdown-content {
	  display: block;
	}

	.content {
		width: 80%;
		margin: 0px auto;
		background-color:rgb(224, 215, 202);
}
	
	.post {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	a {
		color: black;

	}

	.handlePostForm {
		display: flex;
		flex-direction: column;
	}