* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	font-family: sans-serif;
	font-size: 16px;
}

.container {
	width: 80%;
	margin: 0px auto;
}

/* header styling */
.navbar {
	background: #222;
	padding: 0 15px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

a {
	text-decoration: none;
	color: white;

}

li {

	list-style-type: none;
	padding: 20px 20px 20px 20px;
	display: block;
}

.logo_div {
	font-size: 20px;
	padding: 7.5px 10px 7.5px 0px;
}

li a:hover {
	color: #ccc;
}

/*footer styling*/
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
	background-color: #73707D;
	text-align: center;
	width: 80%;
	margin: 20px auto 0px;
	padding: 20px 0px;
  }