* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	position: relative;
	min-height: 100vh;
}

.container {
	width: 100%;
	margin: 0px auto;
}

/* header styling */
.navbar {
	background: #222;
	padding: 0 15px;
}


.headerUl {
	font-size: 23px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	font-family: 'Dancing Script';
}

.headerLinks {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.headerLi {

	list-style-type: none;
	padding: 20px 20px 20px 20px;
	display: block;
}

.logo_div {
	font-size: 20px;
	padding: 7.5px 10px 7.5px 0px;
}

.headerLi a:hover {
	color: #ccc;
}

/*footer styling*/
.footer {
	color: white;
	background-color: #73707D;
	width: 100%;
	margin: 20px auto 0px;
	padding: 20px;
	position: absolute;
	bottom: 0;
	text-align: center;
  }


  /* login & register form*/
  .container-form{
	display:flex;
	align-items: center;
	flex-direction: column;
	margin:20px auto;
	width:400px;
	padding: 12px 20px;
	border: 2px solid #ccc;
	 border-radius: 4px;
	  background-color: #f8f8f8;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	#login{
	  min-height: 75vh;
	
	}
	
	
	.registerLink{
		color:darkblue;
	}
	
	.formValidator{
		background-color:#fff;
		margin:25px auto;
		padding:50px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
		width:400px;
		border-radius: 5px;
		}
		.formValidator h1{
		margin-bottom: 15px;

		}
		.formControl{
		
		margin-bottom: 10px;
		padding-bottom:20px;
		position: relative;
		
		}
		
		.formControl label{
		 
		  color: #777;
		  display:block;
		  font-size: 20px;
		  margin-bottom:5px;
		}
		
		.formControl input{
			width: 100%;
			border: 1px solid #f0f0f0;
			border-radius: 4px;
			display:block;
			padding:10px;
			font-size:14px;
			margin-bottom:15px;
		  }
		  .formControl input:focus{
		
			outline:0;
			border-color:#777;
		  }
		
	
	.submitButton[type=submit] {
		width: 100%;
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	  }
	  
	.submitButton[type=submit]:hover {
		background-color: #45a049;
	  }
	  
	.error{
	background:#F2DEDE;
	color:#A94442;
	padding:10px;
	width:95%;
	border-radius: 5px;
	margin:20px auto;
	}
	
	.success{
	  background:#F2DEDE;
	  color:#38af5c;
	  padding:10px;
	  width:95%;
	  border-radius: 5px;
	  margin:20px auto;
	  }
	
	.edit-btn{
	padding: 4px 12px 4px 12px;	
	background:grey;
	
	}
	
	.delete-btn{
	padding: 4px;
	background:red;
	
	}
	
/*Post content*/
	.content {
		width: 80%;
		margin: 0px auto;
		background-color:rgb(224, 215, 202);
		padding-bottom: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: 'Shippori Mincho B1', serif;
}

	.content2 {
		width: 80%;
		padding-bottom: 60px;
		margin: 0px auto;
		font-family: 'Shippori Mincho B1', serif;
	}
	
	.post {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-top: 10px;
	}

	
	.post__title {
		order: 0;
		padding-bottom: 30px;
		font-size: 28px;
	}

	.post__img {
		order: 1;
		max-width:90%;
	}

	.post__content {
		order: 2;
		padding-top: 20px;
		font-size: 16px;
		white-space: pre-wrap;
		width:80%;
	}

	.post__meta {
		order: 3;
		padding-top: 5px;
		display: flex;
		flex-direction: column;
		font-style: italic;
		font-size: 12px;
		padding-bottom: 15px;
		padding-top: 20px;
	}

	.post__comment {
		order: 4;
		padding-bottom: 10px;
	}

	.btn-div {
		display: flex;
	}

	a {
		color: black;

	}

/* 	.handlePostForm {
		display: flex;
		flex-direction: column;
	}
 */
	.postClass {
		padding-bottom: 60px;
	}

	.content-title {
		flex-grow: 3;
		align-self: flex-start;
		padding: 5px 0px 10px 2px;
		font-size: 35px;
	}

	.imgInput {
		width: 160px;
	}

	.contentInput {
		width: 100%;
		max-width: 723px;
		white-space: break-spaces;
	}

	.postSubmit {
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}

	.postSubmit[type=submit]:hover {
		background-color: #45a049;
	  }

	.postHeader {
		padding-top: 20px;
		padding-bottom: 15px;
	}

	.h1Header {
		font-family: 'Dancing Script', cursive;
		font-size: 50px;
	}

	.info {
		align-self: flex-start;
		font-family: 'Dancing Script', cursive;
		padding-left: 20px;
	}

	.title {
		display: flex;
		flex-direction: column;
	}

	/* Comment */
	.comment__content {
		white-space: pre-wrap;
	}

	/*About us page*/
	
.bg{
	width: 80%;
	margin: 10px auto;
	padding-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	
}
.bg p{

	text-align: center;
	font-family: 'open_sansitalic';
	font-size: 20px;
	margin:20px 10px;
	
}

.bg p a{
text-decoration: none;
}

.bg h1,h2{
font-family: 'Montserrat', sans-serif;

}

.bg h2{
	margin:40px auto;
	font-size: 30px;

}
	.title_text{
		font-size: 50px;
		
	}
	
	.textwrap{
float:right;
margin:10px;
width:250px;

	}

	/*blockquotes*/


	.quote {
		display:inline-block;
		margin:1em;
		overflow:hidden;
	}

	.quote blockquote {
		  background-color:#fff;
		  border: solid 2px #757575;
		  display: inline-block;
		  margin: 0;
		  padding: 1em;
		  position: relative;}
		  
		  .quote  cite {
			display: block;
			font-style: italic;
			text-align: right;
		}
			
		
	.textarea {
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;
	}

	.slogan {
		font-family: 'Dancing Script', cursive;
		padding-left: 20px;
		font-size: 20px;
	}

	.welcome_msg {
		font-size: 40px;
		color: black;
		font-family: 'Shippori Mincho B1', serif;
		align-self: center;
		padding-bottom: 60px;
		padding-top: 60px;
		font-weight: bold;
	}
/*End of about us page*/


	#contentLabel {
		padding-top: 10px;
	}
	
@media (max-width: 910px) {
	.handlePostForm {
		display: flex;
		flex-direction: column;
	}
	.categoryInput {
		width: 150px;
	}
	.titleInput {
		width: 150px;
	}

	.postSubmit {
		width: 80px;
	}
	.postLabels {
		padding-top: 5px;
	}
}
	
@media (max-width: 650px) {
	.headerUl {
		font-size: 23px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		font-family: 'Dancing Script';
	}
	.content-title {
		align-self: flex-start;
		padding: 5px 0px 10px 2px;
		font-size: 25px;
	}
	.post__title {
		order: 0;
		padding-bottom: 10px;
		font-size: 20px;
	}
	.formValidator {
		width: 300px;
	}
	.headerLi {
		text-decoration: underline;
	}
	.welcome_msg {
		font-size: 30px;
	}
}	

@media (max-width: 495px) {
	.info {
		align-self: flex-start;
		font-family: 'Dancing Script', cursive;
		padding-left: 20px;
		padding-bottom: 20px;
	}
	.slogan {
		font-family: 'Dancing Script', cursive;
		padding-left: 20px;
		font-size: 20px;
		padding-bottom: 20px;
		padding-top: 20px;
	}
}
